<header>
    <nav class="navbar">
        <a href="/" class="nav-link">Home</a>
        <a href="/new-blog" class="nav-link">New blog</a>
        <a href="/about" class="nav-link">About</a>
    </nav>
</header>